/local.properties
/captures
.DS_Store

# IntelliJ
*.iml
.idea

# Gradle files
.gradle
/build

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild
.cxx

# Local configuration file (sdk path, etc)
local.properties